:root {
  --primary-text-color: #757575; /*загальний текст*/
  --title-text-color: #212121; /*заголовки*/
  --acent-color: #2196f3; /*колір наведення*/
  --black-color: #000000; /*чорний*/
  --primary-bg-color: #ffffff; /*білий*/
  --footer-bgc-color: #2f303a; /*фон футера*/
  --btn-service-color: rgba(0, 0, 0, 0.25); /*кнопка заказать услугу*/
  --our-team-bgc-color: #f5f4fa; /*колір фону нашої команди*/
  --bgc--hoverfocus-btnservice-color: #188ce8; /*ховер,фокус кнопки заказать услугу*/
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-inline {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
}

/* --------------------------------------------HEADER */
.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--acent-color);
}

.studio {
  color: var(--title-text-color);
}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
  color: var(--title-text-color);
}
.header-nav .item {
  align-items: center;
}
.header-nav .item + .item {
  margin-left: 50px;
}
.main-nav {
  display: flex;
  align-items: center;
}

.st-link,
.pf-link,
.kon-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.a {
  display: block;
}

.st-link:hover,
.st-link:focus {
  color: var(--acent-color);
}
.pf-link:hover,
.pf-link:focus {
  color: var(--acent-color);
}
.kon-link:hover,
.kon-link:focus {
  color: var(--acent-color);
}
.header-nav .link.current {
  color: var(--acent-color);
}
.contact {
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: auto;
}

.header-contact {
  display: flex;
  margin-left: auto;
}
.contact .item + .item {
  margin-left: 50px;
}

.email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}
.email .tel {
  padding-top: 32px;
  padding-bottom: 32px;
}

.tel:hover,
.tel:focus {
  color: var(--acent-color);
}
.email:hover,
.email:focus {
  color: var(--acent-color);
}

/* --------------------------------------------------BUTTON */
.button {
  background-color: var(--primary-bg-color);
}

.btn-filter {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--title-text-color);
  background-color: var(--our-team-bgc-color);
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--acent-color);
  color: var(--primary-bg-color);
}
.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-section .btn-li + .btn-li {
  margin-left: 8px;
}

/* -------------------------------------------------------------ПОРТФОЛИО */

.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio .items {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio .items:nth-child(3n) {
  margin-right: 0px;
}

.cards {
  padding: 20px 24px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}

.items:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.team-item {
  padding-top: 30px;
  padding-bottom: 30px;
}
.p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* --------------СТУДИЯ-------------------------------------------------------------------------------------------------СТУДИЯ---------------------------------------- */
.button-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.business {
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;

  background-color: var(--footer-bgc-color);
  background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../img2/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}

.business-text {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--primary-bg-color);
}

.btn-service {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: 0px;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;

  background-color: var(--acent-color);
  color: var(--primary-bg-color);
}
.btn-service:hover,
.btn-service:focus {
  background-color: var(--bgc--hoverfocus-btnservice-color);
}
.work {
  display: flex;
  margin: 0 auto;
}
.li-item + .li-item {
  margin-left: 30px;
}
.li-item:last-child {
  margin-right: 0;
}
.li-item {
  width: 270px;
}

.list-text {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.list-text .description-text {
  width: 270px;
}
.our-work {
  padding-bottom: 94px;
}
.our-work-list .link {
  display: flex;
}
.our-work-list .list + .list {
  margin-left: 30px;
}
.about-us {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.our-team {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team .link {
  display: flex;
}

.our-team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.bcg-our-team {
  background-color: var(--our-team-bgc-color);
}

.link .list + .list {
  margin-left: 30px;
}
.profession-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* --------------------------------footer------------------- */
.studio-footer {
  color: var(--primary-bg-color);
}
.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--acent-color);
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-bg-color);
}
.studio-footer {
  color: var(--primary-bg-color);
}
.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-bg-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bgc-color);
}

.email-footer,
.tel-footer {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.email-footer {
  margin-bottom: 9px;
}
